@font-face {
  font-family: "Cabinet Grotesk-Bold";
  src: url("../../vendor/cabinet-grotesk/CabinetGrotesk-Bold.otf")
    format("opentype");
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 28px;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__menu-container {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 89px;
  margin-right: 24px;
  padding: 0;
}

.header__logged-in-container {
  display: flex;
}

.header__date-and-location {
  font-family: "Cabinet Grotesk-Bold", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  align-items: center;
}

.header__add-clothes-button {
  font-family: "Cabinet Grotesk-Bold", "Arial", sans-serif;
  border: none;
  font-size: 20px;
  line-height: 1.2;
  margin: 20px;
  cursor: pointer;
  padding: 0;
}

.header__username {
  font-family: "Cabinet Grotesk-Bold", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1;
  margin-right: 12px;
}

.header__link {
  color: #000000;
  text-decoration: none; /* Remove underline from links */
}

.header__signup-button {
  font-family: "Cabinet Grotesk-Bold", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  border: none;
  margin-left: 20px;
  padding: 0;
  cursor: pointer;
}

.header__login-button {
  font-family: "Cabinet Grotesk-Bold", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  border: none;
  margin-left: 20px;
  padding: 0;
  cursor: pointer;
}
