@font-face {
  font-family: "Cabinet Grotesk-Bold";
  src: url("../../vendor/cabinet-grotesk/CabinetGrotesk-Bold.otf")
    format("opentype");
}

.clothes-section__header {
  display: flex;
  gap: 20px;
}

.clothes-section__title {
  font-family: "Cabinet Grotesk-Bold", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1;
}

.clothes-section__add-button {
  font-family: "Cabinet Grotesk-Bold", "Arial", sans-serif;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
}

.clothes-section__cards-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 21px;
}
